syntax: glob
thumbs.db
*.*scc
*.FileListAbsolute.txt
*.aps
*.bak
*.[Cc]ache
*.clw
*.eto
*.exe
*.fb6lck
*.fbl6
*.fbpInf
*.ilk
*.lib
*.log
*.ncb
*.nlb
*.dbmdl
*.obj
*.patch
*.pch
*.pdb
*.plg
*.[Pp]ublish.xml
*.rdl.data
*.sbr
*.scc
*.sig
*.sqlsuo
*.suo
*.svclog
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vshost.*
*_i.c
*_p.c
Ankh.Load
Backup*
CVS/
PrecompiledWeb/
UpgradeLog*.*
obj/
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
[Tt]humbs.db
_UpgradeReport_Files
_[Rr]e[Ss]harper.*/
hgignore[.-]*
ignore[.-]*
svnignore[.-]*
lint.db
* - Copy
re: - Copy \([0-9]+\)
.hgignore.orig
*.orig
*.ncrunchproject
*.*ncrunchsolution
*desktop.ini
.vs/
node_modules
_node_modules
node_generated
bower_components
.npm
Temp/
nuget.config
Solutions/
*.nupkg